<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>设备激活</title>
    <link rel="stylesheet" type="text/css" href="/webjars/mdi__font/css/materialdesignicons.min.css" th:href="@{/webjars/mdi__font/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" type="text/css" href="/webjars/quasar/dist/quasar.prod.css" th:href="@{/webjars/quasar/dist/quasar.prod.css}"/>
</head>

<body>
<div id="q-app">
    <q-layout class="bg-grey-4">
        <q-page-container>
            <q-page padding class="flex justify-center items-start">
                <div class="column" style="min-width: 500px">
                    <div class="col">
                        <div class="row justify-center">
                            <img th:src="@{/herodotus/custom/images/logo.png}" height="300" width="400"/>
                        </div>
                    </div>
                    <div class="col">
                        <q-card flat bordered>
                            <q-card-section>
                                <q-form th:action="@{/oauth2/device_verification}" method="post">
                                    <div class="column q-gutter-md q-pt-lg items-center">
                                        <div class="col">
                                            <div class="text-h4 text-weight-bolder">设备激活</div>
                                        </div>
                                        <div class="col">
                                            <div class="text-subtitle2">
                                                请输入您设备上显示的代码
                                            </div>
                                        </div>

                                        <div class="col" style="width: 90%">
                                            <q-input name="user_code" outlined dense mask="XXXX - XXXX" fill-mask
                                                     v-model="code"
                                                     :rules="[ val => val !== null && val !== '' || '请输入激活码' ]"/>
                                        </div>
                                        <div class="col q-mt-sm" style="width: 90%">
                                            <q-btn color="primary" class="full-width" label="继续" type="submit"/>
                                        </div>
                                    </div>
                                </q-form>
                            </q-card-section>
                        </q-card>
                    </div>
                </div>
            </q-page>
        </q-page-container>
    </q-layout>
</div>

<!-- Add the following at the end of your body tag -->
<script type="text/javascript" src="/webjars/vue/dist/vue.global.prod.js" th:src="@{/webjars/vue/dist/vue.global.prod.js}"></script>
<script type="text/javascript" src="/webjars/quasar/dist/quasar.umd.prod.js" th:src="@{/webjars/quasar/dist/quasar.umd.prod.js}"></script>
<script type="text/javascript" src="/webjars/quasar/dist/icon-set/svg-mdi-v7.umd.prod.js"  th:src="@{/webjars/quasar/dist/icon-set/svg-mdi-v7.umd.prod.js}"></script>

<script>
    const app = Vue.createApp({
        setup() {
            code = Vue.ref("");

            return {
                code,
            };
        },
    });

    app.use(Quasar);
    Quasar.iconSet.set(Quasar.iconSet.svgMdiV7);
    app.mount("#q-app");
</script>
</body>
</html>
