<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>设备授权授予 </title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!--external css-->
    <link th:href="@{/plugins/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css" >
    <!-- Custom styles for this template -->
    <link th:href="@{/plugins/flat-lab/css/soon.css}" rel="stylesheet" type="text/css" >
    <link th:href="@{/plugins/flat-lab/css/style.css}" rel="stylesheet" type="text/css" >
    <link th:href="@{/plugins/flat-lab/css/style-responsive.css}" rel="stylesheet" type="text/css" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
    <![endif]-->
</head>

<body class="cs-bg">
    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <a class="logo floatless" href="#">Dante<span>Cloud</span></a>
                <h1 > 设备激活...</h1>
                <br/>
                <p> OAuth 设备授权，也称为设备流，用于处理用户身份验证难以在设备上输入的情况。在设备流中，流由设备发起，但身份验证是在具有更好输入的不同设备上额外处理的。 </p>
            </header>
            <!-- END TIMER -->
            <div class="col-lg-4 col-lg-offset-4 mt centered">
            	<h4> 输 入 激 活 码 以 授 权 设 备</h4>
				<form class="form-inline" role="form" th:action="@{/oauth2/device_verification}" method="get">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail2">激活码</label>
				    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="激活码">
				  </div>
				  <button type="submit" class="btn btn-danger">确定</button>
				</form>            
			</div>
            
        </div>

    </section>
    <!-- END HEADER -->


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

  </body>
  <!-- END BODY -->
</html>