<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>设备确认</title>
    <link rel="stylesheet" type="text/css" href="/webjars/mdi__font/css/materialdesignicons.min.css" th:href="@{/webjars/mdi__font/css/materialdesignicons.min.css}" />
    <link rel="stylesheet" type="text/css" href="/webjars/quasar/dist/quasar.prod.css" th:href="@{/webjars/quasar/dist/quasar.prod.css}"/>
</head>

<body>
<!-- example of injection point where you write your app template -->
<div id="q-app">
    <q-layout class="bg-grey-2">
        <q-page-container>
            <q-page padding class="flex justify-center items-start">
                <div class="column" style="min-width: 500px">
                    <div class="col">
                        <div class="row justify-center">
                            <img
                                    src="./custom/images/logo.png"
                                    height="300"
                                    width="400"
                            />
                        </div>
                    </div>
                    <div class="col">
                        <q-card flat bordered>
                            <q-card-section>
                                <div class="column q-gutter-lg q-mt-xs items-center">
                                    <div class="col">
                                        <div class="text-h5 text-weight-bolder">设备确认</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-subtitle2">
                                            请确认这是您设备上显示的代码
                                        </div>
                                    </div>
                                    <div class="col" style="width: 90%">
                                        <q-btn
                                                color="grey-5"
                                                :label="code"
                                                size="lg"
                                                class="full-width text-black text-weight-bold"
                                                disable
                                        />
                                    </div>
                                    <div class="col">
                                        <div class="text-subtitle2">
                                            如果您没有启动此操作或无法识别此设备，请选择“取消”
                                        </div>
                                    </div>
                                    <div class="col" style="width: 90%">
                                        <div class="row justify-between">
                                            <div class="col-4">
                                                <q-btn color="red" label="取消" class="full-width"/>
                                            </div>
                                            <div class="col-4">
                                                <q-btn color="primary" label="确认" class="full-width"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </q-card-section>
                        </q-card>
                    </div>
                </div>
            </q-page>
        </q-page-container>
    </q-layout>
</div>

<!-- Add the following at the end of your body tag -->
<script type="text/javascript" src="/webjars/vue/dist/vue.global.prod.js" th:src="@{/webjars/vue/dist/vue.global.prod.js}"></script>
<script type="text/javascript" src="/webjars/quasar/dist/quasar.umd.prod.js" th:src="@{/webjars/quasar/dist/quasar.umd.prod.js}"></script>
<script type="text/javascript" src="/webjars/quasar/dist/icon-set/svg-mdi-v7.umd.prod.js"  th:src="@{/webjars/quasar/dist/icon-set/svg-mdi-v7.umd.prod.js}"></script>

<script>
    const app = Vue.createApp({
        setup() {
            code = Vue.ref("XAD-D21");
            return {code};
        },
    });

    app.use(Quasar);
    Quasar.iconSet.set(Quasar.iconSet.svgMdiV7);
    app.mount("#q-app");
</script>
</body>
</html>
